#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}


#login {
    position: relative;
    width: 100%;
    margin: 50px auto;
    padding: 50px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;

    h2 {
        margin: 0 0 40px 0;
    }

    a {
        display: block;
        width: 150px;
        margin: 0 auto;
    }
}

#loggedin {
    position: relative;
    margin: 50px auto;

    img {
        border-radius: 10px;
    }
}

#genre-list {
    position: relative;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;

    label {
        margin-bottom: 5px;
        font-weight: 700;
        background-color: #ccc;
        padding: 0px 8px;
        border-radius: 10px;
        display: inline;
    }
}
